{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Shopping Bag</h2>
            <hr>
        </div>
    </div>

    <div class="cart-container">
        <div class="row cart-row">
            {% if bag_items %}
            <div class="col col-lg-6 cart-items-col">
                {% for item in bag_items %}
                    <div class="row cart-cards bg-light black-border-heavy">
                        <div class="col cart-info-div">
                            <img class="img-fluid rounded cart-image" src="{{ item.product.image_url }}">
                        </div>
                        <div class="col cart-info-div">
                            <p class="my-0"><strong>£{{ item.product.price }}</strong></p>
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            <!-- <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p> -->
                            <p class="my-0">£{{ item.product.price }}</p>
                            <form class="update-form" action="" method="POST">
                                {% csrf_token %}
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control form-control-sm qty_input" type="number"
                                                name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-black rounded-0 btn-sm"
                                                    data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                    <span>
                                                        <i class="fas fa-minus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-black rounded-0  btn-sm"
                                                    data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                    <span>
                                                        <i class="fas fa-plus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                {% if item.product.has_sizes %}
                                    <input type="hidden" name="product_size" value="{{ item.size }}" id="">
                                {% endif %}
                            </form>
                            <a href="" class="update-link">Update</a>
                            <a href="" class="remove-link text-danger float-right" id="remove_{{ item.item_id }}" data-size="{{ item.size }}"><small>Remove</small></a>
                            {% if item.product.has_sizes %}
                                <p class="my-0">Size: {{ item.size|upper }}</p>
                            {% endif %}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col cart-totals text-left bg-light black-border-heavy">
                <div class="totals-div small-font">
                    <h6 class="totals-heading">Bag Total</h6>
                    <hr>
                    <p class="sub-total">Sub Total: £{{ total|floatformat:2 }}</p>
                    <p class="cart-delivery">Delivery: £{{ delivery|floatformat:2 }}</p>
                    <h4 class="total"><strong>Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                    {% if free_delivery_delta > 0 %}
                        <p class="mb-1 text-danger">
                            Spend <strong>£{{ free_delivery_delta }}</strong> more for free shipping
                        </p>
                    {% endif %}
                    <div class="checkout-btns">
                        <div class="col checkout-btn-col">
                            <a href="" class="btn pink-btn checkout-btn">
                                <span class="text-uppercase">Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </a>
                        </div>
                        <div class="col checkout-btn-col">
                            <a href="{% url 'products' %}" class="btn ">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}


{% block postloadjs %}
    {{ block.super }}
    {% include 'products/includes/quantity_input_script.html' %}

    <script type="text/javascript">
        // Update quantity on click
        $('.update-link').click(function(e) {
            let form = $(this).prev('.update-form');
            form.submit();
        })

        // Remove item and reload on click
        $('.remove-item').click(function(e) {
            let csrfToken = "{{ csrf_token }}";
            let itemId = $(this).attr('id').split('remove_')[1];
            let size = $(this).data('size');
            let url = `/bag/remove/${itemId}`;
            let data = {'csrfmiddlewaretoken': csrfToken, 'size': size};

            $.post(url, data)
            .done(function() {
                location.reload();
            });
        })
    </script>
{% endblock %}