{% extends "base.html" %}
{% load static %}

{% block page_header %}
<section class="header homepage-header text-center">
    <div class="homepage-header-titles">
        <div class=" w-100 justify-content-center">
            <div class="header-text-div text-center">
                <h3 class="text-center text-white homepage-sub-title">Fashion From</h3>
                <h1 class="homepage-title text-white">Accross The Ages</h1>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block content %}

<section class="section delivery-banner text-center black-border-medium flex">
    <h4 class="home-banner-title free-delivery title-font">Free delivery on orders over £{{ free_delivery_threshold }}!!</h4>
</section>

<section class="section home-section-one flex text-center black-border-medium">
    <div class="row section-one-row">
        <div class="col section-one-image-container flex">
            <img class="section-one-image black-border-heavy" src="https://i.pinimg.com/564x/fc/da/db/fcdadb38187fe6f6ddf8e7932d0c9e6c.jpg" alt="">
        </div>
        <div class="col section-one-text flex black-border-heavy">
            <p class="title-font section-one-title">Clothing From Accross The Decades</p>
            <p class="section-text section-one-p paragraph-text">We believe that clothes have no gender, so shop for the styles you like!
            </p>
            <a class="btn my-2 my-sm-0 px-4 py-1 pink-btn shop-btn" href="{% url 'products' %}?category=tops,bottoms,shoes">Shop Now!</a>
        </div>
    </div>
</section>


<section class="section newsletter-banner text-center black-border-medium flex">
    <h4 class="my-3 text-white newsletter-title title-font">Sign up for our newsletter to be notified of new producs and sales!</h4>
    <div class="my-4 newsletter-inputs">
        <form action="{% url 'newsletter' %}" method="POST" id="newsletter_form">
            {% csrf_token %}
            <fieldset class="my-1 flex contact-fieldset test">
                {{ newsletter.email | as_crispy_field }}
            </fieldset>
            <button class="my-1 btn pink-btn newsletter-btn" type="submit">Sign up!</button>
        </form>
    </div>
</section>

<section class="section home-section-two flex ">
    <div class="row section-two-row">
        <div class="col col-sm-12 col-xl-5 home-card-container">
            <div class="card homepage-card mx-auto pt-5 pb-5 black-border-medium" style="width: 18rem;">
                <img class="card-img-top card-img black-border-heavy" 
                    src="https://i.pinimg.com/564x/92/11/81/92118108520cd3fbc71a3b348b28142d.jpg" alt="Card image cap">
                <div class="card-body text-center">
                    <h5 class="title-font home-card-title">Bags</h5>
                    <p class="card-text paragraph-text home-card-p">Shop our full range of retro and vintage bags!</p>
                    <a href="{% url 'products' %}?category=toys_gadgets" class="btn green-btn home-card-btn">Shop Now!</a>
                </div>
            </div>
        </div>
        <div class="col col-xl-5 home-card-container">
            <div class="card  homepage-card mx-auto pt-5 pb-5 black-border-medium" style="width: 18rem;">
                <img class="card-img-top card-img black-border-heavy" 
                    src="https://i.pinimg.com/564x/35/ce/9f/35ce9f44aa1eaa95e5ba903e0b4c75c5.jpg" alt="Card image cap">
                <div class="card-body text-center homepage-card-text black-border-light">
                    <h5 class="title-font home-card-title">Gadgets and Toys</h5>
                    <p class="card-text paragraph-text home-card-p">Shop our full range of of toys that will take you back to your childhood!</p>
                    <a href="{% url 'products' %}?category=toys_gadgets" class="btn green-btn home-card-btn">Shop Now!</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section home-contact-section flex black-border-medium">
    <h4 class="p-3 text-center title-font contact-title">Feel free to get in contact with any questions you may have!</h4>
        <form action="{% url 'home' %}" method="POST" id="contact_form" class="mb-5 black-border-medium contact-form">
            {% csrf_token %}
                <fieldset class="my-2 flex contact-fieldset">
                    <label class="paragraph-text contact-label">First Name</label>
                    {{ contact_form.first_name | as_crispy_field }}
                </fieldset>

                <fieldset class="my-2 flex contact-fieldset">
                    <label class="paragraph-text contact-label">Last Name</label>
                    {{ contact_form.last_name | as_crispy_field }}
                </fieldset>

                <fieldset class="my-2 flex contact-fieldset">
                    <label class="paragraph-text contact-label">Email</label>
                    {{ contact_form.email | as_crispy_field }}
                </fieldset>

                <fieldset class="my-2 flex contact-fieldset">
                    <label class="paragraph-text contact-label">Message</label>
                    {{ contact_form.message | as_crispy_field }}
                </fieldset>
                
                <div class="flex contact-btn-container">
                    <button class="my-3 btn pink-btn contact-btn" type="submit">Send!</button>
                </div>
        </form>
</section>


{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script>
    $('.carousel').carousel({
    interval: 50000
    })
</script>
{% endblock %}