{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="homepage-header">
    <div class=" w-100 justify-content-center">
        <div class="header-text-div text-center">
            <h3 class="text-center text-white homepage-sub-title">Fashion From</h3>
            <h1 class="homepage-title text-white">Accross The Ages</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}


<section class="section-container">
    <div class="left-container">
        <img class="div-daisies" src="{{daisies_02.png}}" alt="">
    </div>
    <div class="image-container">
        <img class="home-section-image" src="https://i.pinimg.com/564x/94/72/2e/94722e90a49d43dd41786e12f8f61e6c.jpg" alt="">
    </div>
    <div class="right-container">
        <p>Clothing From Accross The Decades</p>
        <p class="section-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores distinctio provident corrupti est dolor voluptatibus
            laboriosam eum libero minus delectus? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore aspernatur fugit 
            itaque dolor ullam reiciendis et nulla beatae, dolores eveniet.
        </p>
        <button class="btn my-2 my-sm-0 px-4 py-1 pink-btn shop-btn">Shop Now!</button>
    </div>
</section>


<section class="card-section">
    <div class="container-fluid ">
        <div class="row">
            <div class="card-col col-xs-12 col-md-6 col-lg-4">
                <div class="homepage-card" >
                    <img class="card-img-top card-img" src="https://i.pinimg.com/564x/1a/25/87/1a258798160bfbb5c3cb08862665b39c.jpg" alt="Card image cap">
                    <div class="card-body text-center bg-light">
                    <h5 class="card-title">Accessories</h5>
                    <a href="#" class="btn green-btn">Shop Now!</a>
                    </div>
                </div>
            </div>
            <div class="card-col col-xs-12 col-md-6 col-lg-4">
                <div class="homepage-card" >
                    <img class="card-img-top card-img" src="https://i.pinimg.com/236x/55/67/8d/55678d88b92e0331cf30027bb7fbf3ac.jpg" alt="Card image cap">
                    <div class="card-body text-center bg-light">
                    <h5 class="card-title">Shoes</h5>
                    <a href="#" class="btn green-btn">Shop Now!</a>
                    </div>
                </div>
            </div>
            
            <div class="card-col col-xs-12 col-md-6 col-lg-4">
                <div class="homepage-card" >
                    <img class="card-img-top card-img" src="https://i.pinimg.com/236x/fd/9d/f1/fd9df145f464edafaf2249d2363b9dd2.jpg" alt="Card image cap">
                    <div class="card-body text-center bg-light">
                    <h5 class="card-title">Bags</h5>
                    <a href="#" class="btn green-btn">Shop Now!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-container">
    <div class="right-container">
        <p>Throwback Homewear</p>
        <p class="section-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores distinctio provident corrupti est dolor voluptatibus
            laboriosam eum libero minus delectus? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore aspernatur fugit 
            itaque dolor ullam reiciendis et nulla beatae, dolores eveniet.
            <button class="btn my-2 my-sm-0 px-4 py-1 pink-btn shop-btn">Shop Now!</button>
        </p>
    </div>
    <div class="image-container">
        <img class="home-section-image" src="https://i.pinimg.com/564x/2b/f5/94/2bf5946b8ad4e4492f931688ae6210ea.jpg" alt="">
    </div>
    <div class="left-container">
        <img class="div-daisies" src="{{daisies_02.png}}" alt="">
    </div>
</section>


{% endblock %}