{% extends "base.html" %}
{% load static %}

{% block page_header %}
<section class="header homepage-header text-center">
    <div class="homepage-header-titles">
        <div class=" w-100 justify-content-center">
            <div class="header-text-div text-center">
                <h3 class="text-center text-white homepage-sub-title">Fashion From</h3>
                <h1 class="homepage-title text-white">Accross The Ages</h1>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block content %}

<section class="delivery-banner text-center black-border-medium flex">
    <h4 class="free-delivery title-font">Free delivery on orders over £{{ free_delivery_threshold }}!!</h4>
</section>

<section class="home-section-one flex text-center black-border-medium">
    <div class="row section-one-row">
        <div class="col col-lg-4 section-one-image-container flex">
            <img class="section-one-image black-border-heavy" src="https://i.pinimg.com/564x/fc/da/db/fcdadb38187fe6f6ddf8e7932d0c9e6c.jpg"alt="">
        </div>
        <div class="col col-lg-6 section-one-text flex black-border-medium">
            <p class="title-font section-one-title">Clothing From Accross The Decades</p>
            <p class="section-text section-one-p paragraph-text">We believe that clothes have no gender..
            </p>
            <button class="btn my-2 my-sm-0 px-4 py-1 green-btn shop-btn">Shop Now!</button>
        </div>
    </div>
</section>




<section class="home-section-two flex black-border-heavy">
    <div class="row section-two-row">
        <div class="col col-xl-5 home-card-container">
            <div class="card homepage-card mx-auto pt-5 pb-5 black-border-heavy" style="width: 18rem;">
                <img class="card-img-top card-img black-border-heavy" 
                    src="https://i.pinimg.com/564x/92/11/81/92118108520cd3fbc71a3b348b28142d.jpg" alt="Card image cap">
                <div class="card-body text-center">
                    <h5 class="title-font home-card-title">Bags</h5>
                    <p class="card-text paragraph-text home-card-p">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn pink-btn home-card-btn">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col col-xl-5 home-card-container">
            <div class="card homepage-card mx-auto pt-5 pb-5 black-border-heavy" style="width: 18rem;">
                <img class="card-img-top card-img black-border-medium" 
                    src="https://i.pinimg.com/564x/35/ce/9f/35ce9f44aa1eaa95e5ba903e0b4c75c5.jpg" alt="Card image cap">
                <div class="card-body text-center">
                    <h5 class="title-font home-card-title">Gadgets and Toys</h5>
                    <p class="card-text paragraph-text home-card-p">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn pink-btn home-card-btn">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    $('.carousel').carousel({
    interval: 50000
    })
</script>
{% endblock %}