{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container profile-container">
    <div class="row">
        <div class="col">
            <h2 class="logo-font my-3 title-font">My Profle</h2>
            <hr>
        </div>
    </div>
    <div class="row delivery-info-row">
        <div class="col-12 bg-white black-border-medium ">
            <h3 class="logo-font my-3 title-font">Delivery Information</h2>
            <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="profile-form-btn-div">
                    <button class="pink-btn update-btn">Update Information</button>
                </div>
                <!-- <button class="pink-btn update-btn">Update Information</button> -->
            </form>
        </div>
    </div>
    <div class="row order-history-row">
        <div class="col-12 bg-white black-border-medium ">
            <h3 class="logo-font my-3 title-font">Order History</h2>
            <div class="table-resonsive">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th class="paragraph-text">Order Number</th>
                            <th class="paragraph-text">Date</th>
                            <th class="paragraph-text">Items</th>
                            <th class="paragraph-text">Order Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>
                                    <a href="{% url 'order_history' order.order_number %}" title="{{order.order_number}}" class="paragraph-text profile-order-number">{{ order.order_number|truncatechars:6 }}</a>
                                </td>
                                <td>{{ order.date }}</td>
                                <td>
                                    <ul class="list-unstyled paragraph-text">
                                        {% for item in order.lineitems.all %}
                                        <li class="small paragraph-text">
                                            {% if item.product.has_sizes %} 
                                                Size {{items.product.size|upper}}
                                            {% endif %}
                                            {{ item.product.name }} x {{ item.quantity}}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>£ {{ order.grand_total }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/script.js' %}"></script>
{% endblock %}