
/* Allauth Styles */
.allauth-form-inner-content input {
    display: none !important;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none !important;
}

/* Login Page Styles */
.login-container {
    text-align: center;
    width: auto !important;
    margin: 5% auto !important;
}

.signin-title {
    font-size: 3.75rem;
    margin: 2% 0;
}

.signup-p {
    font-size: 1.25rem;
    margin: 2% 0;
}

.signin-btns {
    width: 20%;
    margin: 0 auto;
    justify-content: space-around;
}

.signin-btn {
    font-size: 1.25rem;
    margin-bottom: 1%;
    width: 10%;
}

a.signup-a {
    color: rgb(244, 137, 167) !important;
}

.signup-p a {
    color: rgb(244, 137, 167) !important;
}

/* Profile Page Styles */
.profile-form-btn-div {
    width: 50%;
    margin: 2% auto !important;
}

.update-btn {
    width: 100%;
    padding: 0.5% 0;
    font-size: 1.15rem;
}

.black-border-light {
    border: solid 1px black;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

#profile-container {
    border: solid 2px red;
    width: 95% !important;
}

.delivery-info-row,
.order-history-row {
    margin: 2% auto;
}

.profile-order-number {
    color: rgb(219, 110, 110);
}