/* Universal Styles */
#signup_form {
    width: 90%;
}

#signup_form label {
    width: 15%;
}

#signup_form input {
    width: 60%;
}

.signup-btn {
    margin: 0 auto;
}

.form-btns {
    width: 40%;
    margin: 0 auto;
}

.form-btns button{
    width: 100%;
}

.allauth-form-inner-content input {
    display: none !important;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none !important;
}

body {
    background-image: linear-gradient(to bottom, rgba(229, 245, 252, 0.8), rgba(212, 243, 255, 0.8)),
    url("https://images.unsplash.com/photo-1529832393073-e362750f78b3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 100% !important;
    max-width: 100% !important;
}

.green-btn {
    font-family: 'Lobster', cursive;
    border: solid 3px #2f7469;
    background-color: #5accbb;
}

.green-btn:hover,
.green-btn:focus {
    border: solid 3px #2f7469;
    background-color: #fff;
}

.pink-btn {
    font-family: 'Lobster', cursive;
    border: solid 3px rgb(219, 110, 110);
    background-color: rgb(252, 210, 210);
}   

.pink-btn:hover,
.pink-btn:focus {
    border: solid 3px rgb(219, 110, 110);
    background-color: rgb(255, 255, 255);
}

.title-font {
    font-family: 'Lobster', cursive;
}

.paragraph-text {
    font-family: 'Dosis', sans-serif;
}

.black-border-heavy {
    border: solid 5px black;
}

.black-border-medium {
    border: solid 3px black;
}

.black-border-light {
    border: solid 1px black;
}

.small-font {
    font-size: 1.25rem;
}

.margin-auto{
    margin: 0 auto;
}

ul, 
li {
    list-style: none;
}

a {
    cursor: pointer;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pink-text {
    color: rgb(244, 137, 167);
}


/* Toast Styles */
.message-container {
    position: fixed;
    top: 60px;
    right: 5px;
    z-index: 99;
}

.custom-toast {
    overflow: visible;
    color: #e8603a;
}

.toast-title {
    font-size: 1.2rem;
    color: #32705e;
}

.bag-toast-container {
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Signup Page Styles */
.allauth-form-inner-content input {
    width: 100%;
}

/* Navbar Styles */
.navbar {
    background-color: #fff;
    box-shadow: 2px 2px 10px 2px #bbbbbb;
    margin-bottom: 0;
    padding: 0;
}

.navbar-brand {
    font-size: 1.5rem;
}

.nav-link {

    font-size: 1.25rem ;
}

a:hover,
a:focus,
.fa-cart-shopping:hover {
    color: rgb(63, 125, 206);
}

li.nav-item.active,
li.nav-item.dropdown.x,
a.font-weight-bold.nav-link.text-center {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.dropdown-menu,
.dropdown-menu .dropdown-item  {
    background-color: #fff ;
}

.search-form {
    width: 60%;
}

.search-bar {
    margin: 1% auto;
    min-width: 80%;
}

.search-btn {
    padding: 0.5% 2%;
}

.cart-quantity {
    font-size: 1.75rem;
}

/* Homepage Header Styles */
.homepage-header {
    background-image: linear-gradient(to bottom, rgba(232, 96, 58, 0.1), rgba(253, 157, 92, 0.1)),
     url("https://images.unsplash.com/photo-1499561385668-5ebdb06a79bc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 70vh;
    display: flex;
    flex-direction: column;
}

.homepage-header-titles {
    margin-top: 5%;
}

.homepage-sub-title {
    font-family: 'Lobster', cursive;
    font-size: 4rem;
    text-shadow: 2px 5px rgb(244, 137, 167);
}

.homepage-title {
    font-family: 'Lobster', cursive;
    font-size: 10rem;
    text-shadow: 5px 7px rgb(244, 137, 167);
}

/* Homepage section styles */
.delivery-banner {
    background-color: #fff;
    background-image: linear-gradient(to left bottom, rgba(244, 137, 167, 0.5), rgba(244, 137, 167, 0.5)),
         url('https://static.displate.com/857x1200/displate/2021-08-02/b101ad1607c40df7bfffa2b691471cc2_986d362de5e7937935734268606f33ce.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 25vh;
    margin: 2% 0;
}

.home-banner-title {
    font-size: 5rem;
    color:  #fff;
    text-shadow: 3px 4px  #277267;
}


.home-section-one {
    height: auto;
    flex-direction: row;
    background-image: linear-gradient(to left bottom, rgba(0, 255, 217, 0.7), rgba(90, 204, 187, 0.7)),
         url('https://img.freepik.com/premium-vector/green-groovy-background-retro-background_47435-383.jpg?w=2000');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    box-shadow: 2px 2px 10px 2px #834c27;
    margin: 3% 0;
}

.section-one-row {
    width: 90vw;
    height: auto !important;
}

.section-one-image-container {
    flex-direction: column;
    width: 50%;

}

.section-one-image {
    max-height: 90%;
    margin: 3% auto;
    border-radius: 200px 200px 0 0;

}

.section-one-text {
    margin: auto;
    padding: 3% 0;
    flex-direction: column;
    height: 50%;
    width: 50% !important;
    background-color: #fff;

}

.section-one-title {
    font-size: 3rem;
}

.section-one-p {
    font-size: 1.5rem;
}

.shop-btn {
    margin: 2% auto 0 !important;
    font-size: 1.5rem;
    width: 55%;
}

.newsletter-banner {
    background-image: linear-gradient(to left bottom, rgba(0, 255, 217, 0.7), rgba(90, 204, 187, 0.7)),
         url('https://img.freepik.com/premium-vector/green-groovy-background-retro-background_47435-383.jpg?w=2000');
    display: flex;
    flex-direction: column;
}

.newsletter-title {
    font-size: 4.5rem;
    text-shadow: 3px 4px rgb(175, 80, 80);
}

#newsletter_form {
    width: 100%;
}

.newsletter-inputs {
    margin: 1% 0;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter-inputs input#id_email {
    padding: 2% 1%;
}


.newsletter-btn {
    width: 40%;
    font-size: 1.25rem;
}

.home-section-two {
    height: auto;
    padding: 2% 0;
}

.section-two-row {
    width: 90vw;
}

.home-card-container {
    padding: 0 !important;
    margin: 0 auto;
}

.home-card-title {
    font-size: 2.25rem;
}

.home-card-p {
    margin: 2% 0 4%;
}

.home-card-p,
.home-card-btn {
    font-size: 1.5rem;
}

.homepage-card {
    width: 80% !important;
    background-image: linear-gradient(to left bottom, rgba(250, 112, 151, 0.5), rgba(244, 137, 167, 0.5)),
         url('https://static.displate.com/857x1200/displate/2021-08-02/b101ad1607c40df7bfffa2b691471cc2_986d362de5e7937935734268606f33ce.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.homepage-card-text {
    background-color: rgba(253, 230, 236, 0.6);
    margin: 2% auto 0;
    width: 100% !important;
}

.home-card-btn {
    width: 60%;
}

.card-img {
    width: 60%;
    margin: 0 auto !important;

}

.home-contact-section {
    background-image: linear-gradient(to left bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
         url('https://img.freepik.com/vector-premium/patron-retro-estilo-anos-70-60-flores-colores-fondo-vintage-retro-floral-flor-ranura_511024-1105.jpg?w=360');
    margin: 2% 0;
    flex-direction: column;
    height: auto;
}

.contact-title {
    color: rgb(211, 84, 120);
    font-size: 3rem;
    margin: 2%;
}

.contact-form {
    background-color: rgba(255, 255, 255, 0.6);
    width: 60%;
}

.contact-fieldset {
    width: 100%;
    align-items: center;
    justify-self: content-center;
    flex-direction: column;
}

.contact-label {
    width: 95%;
    font-size: 1.5rem;
    padding: 0;
}

#contact_form {
    width: 70%;
}

input#contact_inputs.paragraph-text {

    border: solid 2px green;
}

.contact-btn-container {
    width: 100%;
    justify-content: center;
    align-items: center !important;
}

.contact-btn {
    width: 50%;
    font-size: 1.5rem;
}

/* products page styles */
.page-container {
    min-height: 100vh;
}

.results-container {
    margin: 0 auto;
    min-width: 94vw !important;
}

.sort-select-container {
    width: 10%;
    margin: 1% 0;
    justify-content: flex-end;
}

.results-number {
    width: 30%;
    justify-content: flex-start;
}

.products-title {
    margin: 3% auto;
}

.product-card-container {
    width: 50% !important;
}

.product-card-image {
    height: 15vw;
    object-fit: cover;
}

.products-card {
    margin: 10% auto;
    padding: 2% 5%;
    border: none;
    width: 90% !important;
    border: solid 8px black;
}

.product-card {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.card-title,
.card-price {
    font-size: 1.2rem;
}

.image-slider-image {
    height: 200px;
}

/* product detail page styles */
.product-detail-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2%;
}

.product-detail-row {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 2% auto;
}

.product-detail-image {
    width: 70%;
}

.detail-title {
    font-size: 2rem;
}

.product-detail-p {
    font-size: 1.5rem;
    height: 100%;
    width: 50%;
}

.description-header {
    margin-bottom: 0;
    font-size: 1.2rem;
}

.size-btn-container {
    width: 100%;
}

.size-btn-container button:hover,
.size-btn-container button:focus {
    background-color: rgb(252, 210, 210);
}

.size-btn {
    padding: .5% 2%;
    border-radius: 5px;
}

div.col-12.quantity-container {
    padding-left: 0;
}

.input-group {
    border: none;
}

.quantity-input-container {
    width: 45%;
}

.similar-products-container {
    background-color: #fff;
    margin-top: 7%;
}

.products-subheading {
    font-size: 5rem;
    margin-top: 2%;
    color: rgb(244, 137, 167);
    text-shadow: 3px 5px rgb(163, 60, 89);
}


.add-to-bag-btn-col {
    padding: 0 !important;
}

.add-to-bag-btn {
    width: 45%;
    font-size: 1.25rem;
}

/* Add Product Page Styles */
.add-btn-div {
    width: 50%;
    margin: 1% auto;;
    display: flex;
    justify-content: space-around;
}

.add-form-btn {
    width: 40%;
    font-size: 1.15rem;
}

/* Shoping Cart page styles */
.cart-container {
    margin: 0 auto;
    width: 60vw !important;
}

.cart-row {
    padding: 2% 1%;
}

.cart-cards {
    height: 30vh;
    margin: 0 0 2%;
}
.cart-info-div {
    margin: auto 
}

.cart-image {
    max-width: 70% !important;
}

.cart-info {
    flex-direction: row;
}

.update-link {
    color: rgb(163, 60, 89);
    font-size: 1.25rem;
}

.remove-item {
    color: rgb(37, 138, 123);
    font-size: 1.25rem;
}

.cart-totals {
    height: 50%;
    padding: 3% 0;
    position: sticky;
    top: 0;
}

.totals-div {
    width: 60%;
    height: auto;
    margin: 10% auto 0;
}

.totals-heading {
    font-size: 1.5rem;
}

.sub-total,
.cart-delivery,
.total {
    margin: 3% auto;
}

.col.checkout-btn-col {
    margin-left: 0;
    padding: 0;
}

.checkout-btn {
    font-size: 1rem;
    margin: 6% auto;
    width: 100%;
}

@media only screen and (max-width: 500px) {
    .homepage-header {
        height: auto;
    }

    .homepage-title {
        font-size: 2rem !important;
    }

    .free-delivery {
        font-size: 2rem !important;
    } 
}



@media only screen and (max-width: 600px) {
    .section-one-image-container {
        height: 500px;
    }

    .section-one-image {
        height: 80%;
    }
    
    .section-two-row {
        flex-direction: column !important;
    }

}


@media only screen and (max-width: 900px) {
    .homepage-title {
        font-size: 7rem !important;
    }

    .product-detail-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .product-detail-p {
        width: 95%;
    }

    .product-detail-row {
        height: auto !important;
        width: auto;
    }

    .product-detail-image {
        width: 60%;
    }

    .add-to-bag-btn-col {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .add-to-bag-btn {
        width: 90%;
    }
}

@media only screen and (max-width: 1000px) {
    .nav-icons {
        margin-right: 0;
        padding-right: 0;
    }

    .newsletter-title {
        font-size: 3rem !important;
    }

    .contact-title {
        margin: 2% auto;
        font-size: 2.5rem;
    }

    .product-card-image {
        height: 300px;
    }

    .product-detail-container {
        width: 100vw !important;
        margin: 2% auto;
    }

    .cart-container {
        width: 95% !important;
    }

}

@media only screen and (max-width: 1100px) {
    .home-banner-title {
        font-size: 4.5rem;
    }

    .newsletter-title {
        font-size: 4rem;
    }

    .homepage-card {
        margin: 2% auto;
        padding: 1%;
    }

    .card-img {
        width: 50%;
    }

    .sort-select-container {
        width: 20%;
    }
    
    .product-detail-container {
        min-width: 95% !important;
    }

    .product-detail-row {
        height: 100%;
    }

    .product-detail-image {
        height: 100%;
    }

}

@media only screen and (max-width: 1200px) {
    .homepage-header-titles {
        margin-top: 8%;
    }

    .homepage-title {
        font-size: 8rem;
    }

    .section-one-title {
        font-size: 2.25rem;
    }

    .section-one-p {
        width: 98%;
    }
}

@media only screen and (max-width: 1300px) {
    .section-one-image-container {
        width: auto;
    }

    .product-card-row {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media only screen and (max-width: 1400px) {
    .section-one-row {
        display: flex;
        flex-direction: column;
    }

    .section-one-image-container {
        margin: 0 auto;
    }

        
    .section-one-text {
        margin-bottom: 4%;
        width: 80% !important;
    }

}