{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}
<div class="container text-center bg-white mt-5 black-border-medium paragraph-text signin-container">
  <h1 class="title-font signin-title">{% trans "Sign Out" %}</h1>
  <hr>


  <p class="paragraph-text">{% trans 'Are you sure you want to sign out?' %}</p>

  <form method="post" action="{% url 'account_logout' %}" class="paragraph-text">
    {% csrf_token %}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button type="submit" class="mb-2 green-btn signout-btn">{% trans 'Sign Out' %}</button>
  </form>

</div>
{% endblock %}
