{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
    <div class="container product-detail-container">
        <div class="product-detail-row">
            {% if product.image %}
                <img class="card-img-top product-detail-image" src="{{ product.image_url }}" alt="{{ product.name }}">
            {% endif %}

        </div>
        <div class="card-detail product-detail-p">
            
            <p class="title-font detail-title">{{ product.name }}</p>
            <p class="paragraph-text">{{ product.price }}</p>
            <p class="paragraph-text">{{ product.description }}</p>
            {% if product.category %}
                <a href="{% url 'products' %}?category={{product.category.name}}">
                    <i class="fas fa-tag mr-1"></i>{{product.category.friendly_name}}
                </a>
            {% endif %}
        </div>
    </div>

    <div class="container-fluid similar-products-container">
        <h2 class="title-font products-subheading">You might also like</h2>
        <div class="col">
            <div class="row product-card-row gy-5 ">
                {% for p in similar_products %}
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 product-card-container mx-auto">
                        <div class="card products-card">
                            {% if p.image %}
                            <a href="{% url 'product_detail' p.id %}">
                                <img class="card-img-top img-fluid product-card-image paragraph-text"
                                    src="{{ p.image_url }}" alt="{{ p.name }}">
                            </a>
                            {% endif %}
                            <div class="card-body text-center">
                              <h5 class="title-font">{{ p.name }}</h5>
                              <p class="paragraph-text card-price">{{ p.price }}</p>
                            </div>
                            <!-- <a href="#" class="btn pink-btn paragraph-text">View Item</a> -->
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
</div>



{% endblock %}