{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="page-container">
    <div class="col-12 col-md-6 results-container">
        <div class="sort-select-container ml-auto black-border-medium paragraph-text">
            <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
            </select>
        </div>
        <div class="text-black results-number align-top">
            <p class="">
                {{ products|length }} Items{% if search_term %} found for "{{ search_term }}" {% endif %}
            </p>
        </div>
    </div>
    
    
    <div class="container-fluid products-container">
        <div class="col">
            <div class="row product-card-row gy-5 ">
                {% for product in products %}
                <div class="col-12 col-md-6 col-lg-3 col-xl-3 product-card-container flex mx-auto ">
                    <div class="card products-card black-border-heavy">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid product-card-image paragraph-text black-border-medium"
                                src="{{ product.image_url }}" alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body text-center">
                            <h5 class="title-font">{{ product.name }}</h5>
                            <p class="paragraph-text card-price">£{{ product.price }}</p>
                        </div>
                        <!-- <a href="#" class="btn pink-btn paragraph-text">View Item</a> -->
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}